*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--tui-font-family);
  line-height: var(--tui-line-height);
  color: var(--tui-text);
  background-color: var(--tui-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
