.container {
  box-sizing: border-box;
}

.top { padding-top: var(--tui-safe-top); }
.right { padding-right: var(--tui-safe-right); }
.bottom { padding-bottom: var(--tui-safe-bottom); }
.left { padding-left: var(--tui-safe-left); }
